body { 
	background: url(http://images.forwallpaper.com/files/thumbs/preview/81/816936__desktop-mac-wallpaper-apple-backgrounds_p.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}
p {
    margin: 2%;
    color: #00d417;
    text-align: center;
    font-size: 250%;
    font-family: Helvetica;
    }	

.css_background {
    margin: 2%;
    color: #0a061a;
    text-align: center;
    font-size: 125%;
    font-family: verdana;
    }

button {
    background: #007E3E; /* Цвет фона */
    color: #12087a; /* Цвет текста */
    padding: 10px 20px 10px 20px; /* Поля вокруг текста */
    border-radius: 50px; /* Уголки */
    border-bottom-style: double;
    border: 2px solid #bc0109;
   } 

 button:hover {
    background: #b80959; /* Цвет фона под ссылкой */
    color: #fff;
    border: 2px solid #00d654; 
   }